<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sarasmarg</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    .added{
      height: 158px !important;
      width: 160px !important;
    }
  </style>
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:team.sarasmarg@gmail.com">team.sarasmarg@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>(+91) 1800 5685 9658</span></i>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="/" class="logo"><img src="assets/img/logo-sarasmarg-2.png" alt=""></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#counts">About</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Services</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <a href="/"><img src="assets/img/logo-white.png" alt="" class="hero-logo"></a></h1>
      <h2>Sadak Swasth Journey Mast</h2>
      <div class="">
        <a href="AuthorityGetStarted.ejs" class="btn-get-started scrollto">Get Started as an Authority</a>
        <a href="AuthoritySideCCTVDashboard.ejs" class="btn-get-started scrollto">Get Started as a Working Department</a>
       </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">  
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <img src="assets/img/cases/Resolved.png" width="80px" height="80px">
              <i class="bi bi-flag"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Resolved</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <img src="assets/img/cases/Registered.png" width="80px" height="80px">
              <i class="bi bi-flag"></i>
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Registered</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <img src="assets/img/cases/Cancelled.png" width="80px" height="80px">
              <i class="bi bi-flag"></i>
              <span data-purecounter-start="0" data-purecounter-end="63" data-purecounter-duration="1" class="purecounter"></span>
              <p>Cancelled</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <img src="assets/img/cases/Inprogress.png" width="80px" height="80px">
              <i class="bi bi-flag"></i>
              <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
              <p>In Progress</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Problem Categorisation</h2>
          <h3>Check our <span>Categorisation</span></h3>
          <p></p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/crack1.jpeg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Cracks</h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/hole1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Potholes</h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/water1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Water Logging</h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/problem-categorisation-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Cracks</h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/problem-categorisation-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Potholes</h4>
              <p></p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/problem-categorisation-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Water Logging</h4>
              <p></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Sarasmarg <span>Team</span></h3>
          <p></p>
        </div>

        <div class="row">

          <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/hritik.png" class="img-fluid added" alt="">
                <div class="social">
                  <a href="https://twitter.com/HritikKhurana2"><i class="bi bi-twitter"></i></a>
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/hritikkhurana_/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/hritik-khurana-8b3b32193/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Hritik Khurana</h4>
                <span>Full Stack Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/rajat.jpg" class="img-fluid added" alt="">
                <div class="social">
                  <a href="https://twitter.com/rajatbansal_dev"><i class="bi bi-twitter"></i></a>
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/rajat._bansal_/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/rajatbansal01/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rajat Bansal</h4>
                <span>ML Engineer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/amit.jpg" class="img-fluid added" alt="" height="158px">
                <div class="social">
                  <a href="https://twitter.com/amitkumar1058"><i class="bi bi-twitter"></i></a>
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/amitghadwal_"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/amit-kumar-8b6a36161/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amit Kumar</h4>
                <span>Android Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/ojas.jpg" class="img-fluid added" alt="" height="158px">
                <div class="social">
                  <a href="https://twitter.com/"><i class="bi bi-twitter"></i></a>
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/ojas-khatri/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ojas Khatri</h4>
                <span>Cloud Engineer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/arushi.jpg" class="img-fluid added" alt="" height="158px">
                <div class="social">
                  <a href="https://twitter.com/ARUSHIJOSHI4"><i class="bi bi-twitter"></i></a>
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/aru.shijoshi"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/arushi-joshi-901314222"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Arushi Joshi</h4>
                <span>Designer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-2 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/kashish.jpg" class="img-fluid added" alt="" height="158px">
                <div class="social">
                  <a href="https://twitter.com/Kashish71361685?t=l-NbsoFU8SibVmPvRnRlHQ&s=08"><i class="bi bi-twitter"></i></a>
                  <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                  <a href="https://www.instagram.com/kashishgoyal_428"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/kashish-goyal-69b110201/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kashish</h4>
                <span>Front End Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          <p></p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          

          <div class="col-lg-4">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>team.sarasmarg@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>(+91) 1800 5685 9658</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="info-box  mb-4">
              <i class="bx bx-globe"></i>
              <h3>App</h3>
              <p>Link</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-12">
            <form action="https://formspree.io/f/mknenwnz" method="post" role="form" class="php-email-form" id = "myform">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message ">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 footer-links">
            <h4>Our Social Networks</h4>
            <p></p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-6 footer-contact">
            <p>
              <strong>Phone:</strong> (+91) 1800 5685 9658<br>
              <strong>Email:</strong> team.sarasmarg@gmail.com<br>
              <strong>App</strong> Link<br>
            </p>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- <div id="preloader"></div> -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  
  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
     <script>

       var id =  document.getElementById('myform');

       id.addEventListener('submit' , function(event){
        event.preventDefault();
        id.reset();
       })
     </script>
</body>

</html>